#header {
  padding: 30px 0;
  background: #0f1a48;
  position: sticky;
  top: 0;
  z-index: 99;
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--nav {
      a {
        color: white;
        font-size: 20px;
        font-weight: 800;
        margin: 0 15px;
      }
    }
    select {
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      outline: none;
      padding: 8px 15px;
      color: white;
    }
    &--search {
      input {
        font-size: 18px;
        padding: 8px 15px;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        background: 0;
        outline: none;
        &::placeholder {
          color: white;
        }
      }
      button {
        cursor: pointer;
        font-size: 20px;
        padding: 5px 13px;
        background: white;
        color: black;
        border-radius: 8px;
        border: none;
        margin-left: 20px;
      }
    }
    &--dark {
      color: white;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
