#movieActros {
  .movieActros {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 1000px;
    gap: 20px;
    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }
}
