#popular {
  padding: 50px 0;
  .popular {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &--movie {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 70px;
    }
    &--pagination {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      button {
        border-radius: 20px;
        cursor: pointer;
        background: black;
        color: white;
        border: none;
        font-size: 18px;
        padding: 10px 30px;
        text-transform: uppercase;
      }
    }
  }
}
