#popular {
  .popular {
    &--pogination {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      button{
        font-size: 18px;
        text-transform: uppercase;
        padding: 10px 30px;
        cursor: pointer;
        background: black;
        color: white;
        border-radius: 8px;
        border: none;
      }
    }
  }
}
